.navbar {
    background-color: #333;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between; /* Distribute child elements */
    align-items: center; /* Align vertically */
}

.navbar-container {
    width: 90%; /* You can adjust this */
    margin: 0 auto;
    display: flex;
    justify-content: space-between; /* Distribute child elements */
    align-items: center;
}

.navbar-logo {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navbar-menu {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center; /* Align vertically */
}

.navbar-menu-item {
    margin: 0 10px;
}

.navbar-menu-item a {
    text-decoration: none;
    color: white;
    padding: 5px 10px; /* Add some padding */
}

.navbar-menu-item a:hover {
    background-color: #555; /* Add a hover effect */
    border-radius: 5px;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th {
    background-color: #333;
    color: white;
    padding: 10px;
}

td {
    text-align: center;
    padding: 10px;
}

td h4 {
    font-size: 18px;
}

td:hover {
    background-color: #f2f2f2;
}

.header {
    background-color: #333;
    color: white;
}

h2 {
    text-align: center;
}

/* Stil for kalendertabellen */
table.table-bordered {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #000000;
    margin: 20px auto;
}

table.table-bordered th.header {
    background-color: #000000;
}

table.table-bordered th,
table.table-bordered td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

table.table-bordered td.today {
    background-color: #ffc;
}

/* Stil for navigasjonsknapper */
a.btn {
    text-decoration: none;
    padding: 5px 10px;
    margin: 5px;
}

a.btn-primary {
    background-color: #007bff;
    color: #fff;
}

a.btn-success {
    background-color: #28a745;
    color: #fff;
}

a.btn-danger {
    background-color: #dc3545;
    color: #fff;
}

a.btn-xs {
    font-size: 12px;
}
