@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
    --blue:#3498db;
    --dark-blue:#2980b9;
    --red:#e74c3c;
    --dark-red:#c0392b;
    --black:#333;
    --white:#fff;
    --light-bg:#eee;
    --box-shadow:0 5px 10px rgba(0,0,0,.1);
    --gray: #B0B0B0;
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
}

*::-webkit-scrollbar{
    width: 10px;
}

*::-webkit-scrollbar-track{
    background-color: transparent;
}

*::-webkit-scrollbar-thumb{
    background-color: var(--blue);
}



.navbar {
    background-color: #333;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between; /* Distribute child elements */
    align-items: center; /* Align vertically */
}

.navbar-container {
    width: 90%; /* You can adjust this */
    margin: 0 auto;
    display: flex;
    justify-content: space-between; /* Distribute child elements */
    align-items: center;
}

.navbar-logo {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navbar-menu {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center; /* Align vertically */
}

.navbar-menu-item {
    margin: 0 10px;
}

.navbar-menu-item a {
    text-decoration: none;
    color: white;
    padding: 5px 10px; /* Add some padding */
}

.navbar-menu-item a:hover {
    background-color: #555; /* Add a hover effect */
    border-radius: 5px;
}


body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.helper {
    border-bottom: 1px solid #eaeaea;
    padding: 15px 0;
}

.helper:last-child {
    border-bottom: none;
}

img {
    max-width: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.helper-details {
    display: inline-block;
    vertical-align: top;
}

.helper-title {
    font-size: 20px;
    margin: 0;
    color: #333;
}

.helper-content {
    margin: 10px 0;
    color: #666;
}
 
/* ... (din eksisterende CSS-kode) ... */

.helper-overview {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 20px;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    border-radius: 5px;
}

.helper-overview img {
    max-width: 80px;
    border-radius: 50%;
}

.helper-overview-details {
    flex: 1;
    margin-left: 20px;
}

.helper-overview-title {
    font-weight: 500;
    margin-bottom: 10px;
    color: var(--black);
}

.helper-overview-content {
    color: var(--gray);
}
