body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.overskrift {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

.col-form-label {
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
}

.btn-outline-primary {
    background-color: transparent;
    border: 1px solid #007bff;
    color: #007bff;
    transition: all 0.3s ease;
}

.btn-outline-primary:hover {
    background-color: #007bff;
    color: #fff;
}

.btn-success {
    background-color: #28a745;
    color: #fff;
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
}

form {
    margin-top: 20px;
}

form div.row {
    margin-bottom: 20px;
}

select-timeslot {
    cursor: pointer;
}
