/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

/* Header styles */
header.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    font-size: 24px;
    text-decoration: none;
    color: #fff;
}

.navbar-menu {
    list-style: none;
    display: flex;
}

.navbar-menu-item {
    margin-right: 20px;
}

.navbar-menu-item a {
    text-decoration: none;
    color: #fff;
}

/* Update profile form styles */
.update-profile {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.message {
    background-color: #f2dede;
    color: #a94442;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Added to evenly space input and button divs */
}

.inputBox {
    flex: 1;
    margin-right: 20px;
}

.inputBox span {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.box {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Adjusted button styles */
.btn-container {
    flex: 1;
    display: flex;
    flex-direction: column; /* Buttons will be stacked vertically */
    align-items: flex-start; /* Buttons will be left-aligned */
    margin-top: 10px; /* Add some spacing between input fields and buttons */
}

.btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px; /* Add spacing between buttons */
}

.delete-btn {
    background-color: #ccc;
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.delete-btn:hover {
    background-color: #666;
    color: #fff;
}
